/*CSS for the footer*/  
.slide-container{
  max-width: 1120px;
  width: 100%; 
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #ffffff; 
} 
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
} 

.name{
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
.description{
  font-size: 10px; 
  color: #777777;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #19f50a;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #ff02c4;
}
.swiper-navBtn{
  color: #0b0d11;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #2bff00;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1; 
  background-color: #2bff00;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}