/*CSS for the body*/ 

body {
  background-color: #29d9e2;
  min-height: 100vh;
  width: 100%;
}

.header_left{
  text-align: center;
  height: 100px;
  margin: 0px 0px 0px 40% ;
}

.header_right{
  text-align: center;
  height: 100px;
  margin: 0px 40% 0px 0px ;
}

.box_left {
  float: left;
  width: 40%;
}

.box_right {
  float: right;
  width: 60%;
}

.box_right {
  float: right;
  width: 60%;
}

@media (max-width: 400px) {
  .box_left{
    float: none;
    width: 100%;
  } 
  .box_right{
    float: none;
    width: 100%;
  } 
  .header_left{ 
    margin: 0px 0px 0px 0px ;
  }
  .header_right{  
    margin: 0px 0px 0px 0px ;
  }
} 

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
