/*CSS for the body*/ 

body {
  background-color: #29d9e2;
  min-height: 100%; 
  min-width: 100%; 
}

.header_left{
  text-align: center; 
  margin: 0px 0px 0px 40% ;  
}

.header_right{
  text-align: center; 
  height: 10%;
  margin: 0px 40% 0px 0px ; 
}

.box_left_text {
  float: left;
  width:  60%;   
}
.box_left_image {
  float: left;
  width:  40%; 
}

.box_right_text {
  float: right;
  width: 60%;   
}
.box_right_image {
  float: right;
  width: 40%;   
}
 

@media (max-width: 800px) {
  .box_left_text{
    float: top;
    width: 60%;
    margin: 0% 20% 0% 20% ; 
  } 
  .box_right_text{
    float: top;
    width: 60%;
    margin: 0% 20% 0% 20% 0%; 
  } 
  .box_left_image{
    float: none;
    width: 100%;
    margin: auto; 
  } 
  .box_right_image{
    float: none;
    width: 100%;
    margin: auto; 
  } 
  .header_left{ 
    margin: 0px 0px 0px 0px ;
  }
  .header_right{  
    margin: 0px 0px 0px 0px ;
  }
} 

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
