* {
    box-sizing: border-box;
}
img {
    width: 280px;
    height: 350px; 
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1; 
}

@keyframes example {
    0% { width:0px; height:0px;} 
    50%{ width:280px; height:350px;} 
    75%{ width:560px; height:700px;}
    100% { width:280px; height:350px;} 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #79C8F2; 
}

/* Style the header */
header {
    background-color: #385D70;
    padding: 10px ;
    text-align: center;
    font-size: 35px;
    color: #ffffff; 
}

/* Create two columns/boxes that floats next to each other */
nav {
    margin: 1% 0 1% 0.5% ;
    float: right;
    width: 29.5%; 
    background: #768993;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul { 
    list-style-type: none;
    padding: 10px ;
}

article {
    margin: 1% 0.5% 1% 0 ;
    float: right;
    padding: 20px;
    width: 69.5%;
    background-color: #C0DFF0; 
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%; 
    background-color: #5A6870; 
    text-align: center;
    color: #ffffff;
} 
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
nav, article {
    width: 100%;
    height: auto;
    }
h2, img {
    width: 100%;
    height: auto;
    }
}